.Main-Content {
  box-shadow: 1px 3px 8px #5e5d5d;
}
.custom-navbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 25px !important;
  gap: 10px;
}

.custom-navbar .ui-menu__itemcontent {
  font-size: 18px;
  border-bottom-color: red;
}
.NavItem {
  text-decoration: none;
  color: inherit;
}
.Sub-Menu {
  background: rgb(181 181 181) 0% 0% no-repeat padding-box;
}
.Sub-Menu .ui-list__itemcontent {
  font-size: 15px;
}
.Content .ui-list__item {
  min-height: 2.5rem !important;
}
.Content .ui-list__itemcontent {
  font-size: 14px !important;
  color: #424242 !important;
}
.disabled-menu-item {
  pointer-events: none; /* Disables click events */
  opacity: 0.6; /* Adjust the opacity to your desired disabled appearance */
  cursor: not-allowed; /* Show the cursor as not-allowed */
}
.Text {
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 600;
}
.addedMenu-link {
  transition: 0.2s;
  list-style-type: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.addedMenu-link.active,
.addedMenu-link:hover {
  color: #333;
  background: #cdcdcd;
  border-color: #333;
}