.App {
  font-family: sans-serif;
  text-align: center;
}

.settingSidebar {
  border-right: 2px solid #bbb;
  height: calc(100vh - 50px);
  padding: 0 5px;
  box-sizing: border-box;
}

.settingSidebar-heading {
  border-bottom: 1px solid #bbb;
  padding: 15px 22px;
}

.settingSidebar-heading .ui-text {
  font-weight: 900 !important;
}

.settingSidebar-menu {
  padding: 22px;
  margin: 0
}

.settingSidebar-menu h4 {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 4px;
}

.settingSidebar-menu .listName {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5b5fc7;
  color: #fff;
  border-radius: 50%;
}

.settingSidebar-menu>li {
  margin-bottom: 8px;
}

.settingSidebar-menu>li>ul {
  margin: 0;
  padding-left: 32px;
}

.settingSidebar-menu>li>ul li a {
  padding: 4px 5px;
  font-size: 14px;
  line-height: 20px !important;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #444;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.settingSidebar-menu>li>ul li a:hover {
  background-color: #eee;
}

.settingSidebar-menu>li>ul li a svg {
  height: 14px;
  width: 14px;
}

.settingSidebar-menu>li>ul>li>ul {
  margin: 0;
  padding-left: 50px;
}